<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dsvoronin.grindfm"
          android:versionCode="10"
          android:versionName="0.4.2">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="9"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:name=".GrindApplication"
                 android:icon="@drawable/cat"
                 android:label="@string/app_name">

        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.NewsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.NewsDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.VideoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.VKActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.RequestActivity" android:screenOrientation="portrait"/>

        <service android:name=".PlayerService"/>

        <receiver android:name=".widget.GrindWidgetProvider" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="service-intent"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/grind_widget_provider"/>
        </receiver>

        <receiver android:name=".receiver.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
